.log-tab-panel {
  overflow-y: auto;
}

.row-content {
  display: block;
  margin: 10px 0;
  background-color: #f7f8f9;
  border-radius: 3px;
  min-width: 560px;
  padding: 10px;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-all;
}

.iframe-prev {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
