.network-input {
  min-width: 400px;
  flex: 1;
}

.bottom-resizer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: row-resize;
  background-color: var(--color-background-mute);
  .bottom-resizer-icon {
    rotate: 90deg;
  }
}

.network-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  .ant-tabs-content-holder {
    overflow-y: auto;
  }
}

.bottom-drawer-close {
  position: absolute;
  top: 24px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  color: var(--color-text-2);
}

.network-table {
  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }

  .react-resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
    background-image: none;
  }
  .ant-table-row-selected {
    a {
      color: var(--color-text-1);
    }
  }
}
