.network-table {
  width: 100%;
  flex: 1;
}

.network-input {
  min-width: 400px;
  flex: 1;
}

.bottom-resizer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: row-resize;
  background-color: var(--color-background);
  .bottom-resizer-icon {
    rotate: 90deg;
  }
}

.network-detail {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bottom-drawer-close {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  color: var(--ev-c-text-2);
}
