.sidebar-link {
  color: var(--color-text);
  text-decoration: none;
  font-size: 14px;
  &.active {
    .sidebar-item {
      background-color: var(--color-background-mute);
    }
  }
}

.sidebar-item {
  padding: 10px 5px;
  &:hover {
    cursor: pointer;
    background-color: var(--color-background-mute);
  }
}

.app-sidebar {
  background-color: var(--color-background);
}


.sidebar-menu {
  .ant-menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    .ant-menu-title-content {
      line-height: normal;
      margin-top: 8px;
    }
  }

}
