.browser-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.browser-button {
  width: 100%;
  text-align: left;
  height: 40px;
  display: flex;
  align-items: center;

  .browser-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
